# Go Workspace
go.work
go.work.sum

# Binaries
/**/*.exe

# Build Output
dist/

# Test Output
*test*.txt
*.log
out.txt

# Coverage
*coverage*.txt
*coverage*.out

# Examples
examples/**/config.json

# Gemini
.gemini/
gha-creds-*.json
secure-*.json

# Internal
.loam/
.trellis/
.sessions/
