# Binaries
/**/*.exe

# Test Output
*test*.txt

# Coverage
*coverage*.txt
*coverage*.out

# Examples
examples/**/config.json

# Trellis
.loam/
.trellis/
.sessions/

# Gemini
.gemini/
gha-creds-*.json
secure-*.json

# Go Workspace
go.work
go.work.sum
