name: Test

on:
    push:
        branches: [main]
    pull_request:
        branches: ["**"]

jobs:
    test:
        name: Test (${{ matrix.os }})
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: stable
                  cache: true

            - name: Install dependencies
              run: go mod tidy

            - name: Run lint
              run: make lint

            - name: Run tests
              run: make test

            - name: Run coverage
              run: make coverage
